.btn {
  border-radius: 1rem;
  padding: 0.25rem 0.8rem;
}

.primary-btn {
  background-color: #ff4e26;
  border: 0;
  color: #ffffff;
}

.ghost-btn {
  background-color: transparent;
  border: 1px solid #000000;
}