.service {
  &__section {
    padding-top: 13rem;
    height: 100vh;
    position: relative;
  }

  &__title {
    font-size: 6rem;
    font-weight: 400;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &-text-wrapper {
      overflow: hidden;
      height: 7rem;
      display: flex;
      align-items: center;

      &:nth-of-type(1) {
        margin: 0 4rem;

        & > span {
          translate: 8rem;
          display: flex;
          align-items: center;
        }
      }

      &:nth-of-type(3) {
        align-self: flex-end;

        & > span {
        }
      }
    }

    &-text {
    }
  }

  &__icons {
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
  }

  &__aim {
    margin-right: 7rem;
    margin-bottom: 1.25rem;

    &-text {
      font-size: 1rem;
      letter-spacing: -1px;
      line-height: 1.25rem;
      white-space: nowrap;

      div {
        overflow: hidden;
        height: 1rem;
        margin-bottom: .25rem;
      }
    }
  }
}
