.cta-offering__list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  flex: 1.1;
  overflow: hidden;
  margin-bottom: -2rem;

  & > div {
    display: grid;
    gap: 1rem;

    &:nth-of-type(2) {
      translate: 0 -250px;
    }
  }
}