main {
  padding: 2rem 3rem;
}

.advantages {
  &__section {
    display: flex;
    align-items: center;
    height: calc(100vh - 165px);
    justify-content: center;
    position: relative;
  }

  &__title {
    font-size: 7rem;
    font-weight: 400;
    z-index: -4;
  }
}